@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f1e8;
  color: #3e3226;
  font-family: 'Inter', sans-serif;
}

a {
  transition: color 300ms ease;
}

a:hover {
  color: #d4af37;
}
